.counter {
    position: relative;
    top: 50px;
    left: 100px;
    border: 3px solid #6DE5FA;
    background-color: #292C34;
    border-radius: 7px;
    width: 250px;
    height: 205px;

}


.num1 {
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    width: 230px;
    height: 100px;
    color: #292C34;
    background-color: #6DE5FA;
    border-radius: 7px;
    font-size: 55px;
}

.num2 {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    width: 230px;
    height: 100px;
    color: red;
    background-color: #6DE5FA;
    border-radius: 7px;
    font-size: 55px;
}

.buttonsArea {

    border: 3px solid #6DE5FA;
    background-color: #292C34;
    border-radius: 7px;
    width: 224px;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;

}

.buttons {
    border: 2px solid #6DE5FA;
    border-radius: 7px;

    background-color: #6DE5FA;
    display: inline-block;
    font-size: 23px;
}

.inc {
    width: px;
    position: fixed;
    top: 192px;
    left: 130px
}

.reset {

    position: fixed;
    top: 192px;
    left: 230px
}